* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup-form {
  position: relative;
  width: 400px;
  height: 600px;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form h2 {
  color: black;
  text-align: center;
  font-size: 52px;
}

.signup-form .signup-input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid black;
}

.Categories {
  width: 310px;
  height: 35px;
  border: 1px solid black;
}
.signup-form .signup-input-box input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: black;
  font-size: 16px;
}

i {
  position: absolute;
  color: black;
  top: 13px;
  right: 0;
}

.bx bx-check-square {
  width: 20px;
  height: 150px;
}
input::placeholder {
  color: black;
}

.signup {
  color: black;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.group {
  display: flex;
  justify-content: space-between;
}

.group span a {
  color: black;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.group a:focus {
  text-decoration: underline;
}

#result {
  color: red;
  font-weight: 600;
  position: relative;
  top: 25px;
}

.withdrawal {
  border: none;
  border-bottom: 2px solid black;
  margin-left: 1100px;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}
