* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  height: 145px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 19px;
}

.header_logo h1 {
  font: bold 40px "arial";
  padding-top: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header_logo p {
  font: bold 12px "arial";
  margin-top: -1px;
}

.header__gnb ul {
  margin-top: 39px;
}

.header__gnb ul li {
  display: inline-block;
}

.header__gnb ul li a {
  display: block;
  font: bold 14px "arial";
  color: black;
  margin: 0px 16px;
  letter-spacing: 1px;
}

/* .user {
  float: right;
} */

/* 피드 */
.feed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 80px;
}

.feed h1 {
  font-size: 70px;
  font-weight: bold;
}

#follow-btn,
#like-btn {
  border: solid white;
  background-color: rgb(214, 170, 170);
  border-radius: 2px;
  border-width: 2px;
  font-size: 20px;

  padding: 5px;
  margin: 5px;
}

.main-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap: 11px;
  width: 1000px;
  margin: auto;
}

.post-box {
  width: 300px;
  display: inline-block;
  justify-content: center;
  padding: 10px;
  margin-bottom: 80px;
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px gray;
}

.post-box img {
  width: 100%;
  height: 344px;
  object-fit: cover;
  border-radius: 0.5rem;
  display: inline-block;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.post-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.post-img img {
  width: 27px;
  height: 27px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(51, 47, 47);
  object-position: center;
}

.post-profile {
  display: flex;
  align-items: center;
}

.post-profile h3 {
  font-size: 12px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 5px;
}

.likes {
  display: flex;
  align-items: center;
}

.likes i {
  font-size: 20px;
  margin-left: 10px;
}

.likes span {
  font-size: 14px;
  margin-left: 7px;
}
