/* header */
.header {
  height: 145px;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 19px;
  background-color: white;
}

.header_logo h1 {
  font: bold 40px "arial";
  padding-top: 40px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: black;
}

.header_logo p {
  font: bold 12px "arial";
  padding-top: 2px;
  color: black;
}

.user {
  float: right;
}

/* footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.foottainer {
  max-width: 1170px;
  margin: auto;
  padding-top: 50px;
  border-top: 2px solid black;
  /* width: 600px; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: white;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 25px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
}

.footer-col h4::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li {
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

h5 {
  color: black;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
