* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* color: white; */
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 170, 170);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  height: 145px;
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 19px;
}

.header_logo h1 {
  font: bold 40px "arial";
  padding-top: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.header_logo p {
  font: bold 12px "arial";
  margin-top: -1px;
  color: white;
}

.header__gnb ul {
  margin-top: 39px;
}

.header__gnb ul li {
  display: inline-block;
}

.header__gnb ul li a {
  display: block;
  font: bold 14px "arial";
  color: white;
  margin: 0px 16px;
  letter-spacing: 1px;
}

.user {
  float: right;
  margin-right: 95px;
}

/* body */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.character {
  width: 100px;
  height: 100px;
  box-shadow: rgb(0, 0, 0, 0.1);
  margin-right: 25px;
  margin-left: 10px;
  border: 2px solid black;
}

.icon {
  font-size: 30px;
}

.box {
  position: relative;
  min-width: 425px;
  background-color: rgb(165, 156, 157);
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  box-shadow: rgb(0, 0, 0, 0.1);
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  background: #fff;
}

.box h3 {
  position: relative;
  color: #333;
  font-size: 40px;
  margin-bottom: 50px;
  padding-left: 70px;
}

.box .list {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.box .list .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #333;
}

.box .list .content .rank {
  position: absolute;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}

.foottainer {
  max-width: 1170px;
  margin: auto;
  /* width: 600px; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgb(214, 170, 170);
  padding: 70px 0;
  border-top: 2px solid white;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 25px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
}

.footer-col h4::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li {
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

h5 {
  color: white;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
