<!-- 피드(좋아요, 팔로우)  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I.O.T.D</title>
    <link rel="stylesheet" href="/static/css/feed.css" />
    <link rel="stylesheet" href="/static/css/nav.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header"></header>

    <!-- main post -->
    <div class="feed">
      <h1 id="feed-title">My Feed</h1>
      <div class="feed-btn-wrap">
        <button id="follow-btn" onclick="handleFeed(this)">Follow</button>
        <button id="like-btn" onclick="handleFeed(this)">Like</button>
      </div>
    </div>
    <!-- post -->
    <div class="main-posts">
    </div>
  </body>

  <!-- footer -->
  <footer class="footer"></footer>

  <!-- JS -->
  <script src="/static/js/api.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="/static/js/feed.js"></script>
</body>
</html>

</html>
