<!-- 피드(좋아요, 팔로우)  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Feed</title>
    <link rel="stylesheet" href="/static/css/feed.css" />
    <link rel="stylesheet" href="/static/css/nav.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header"></header>

    <!-- main post -->
    <div class="feed">
      <h1 id="feed-title">My Feed</h1>
      <div class="feed-btn-wrap">
        <button id="follow-btn" onclick="handleFeed(this)">Follow</button>
        <button id="like-btn" onclick="handleFeed(this)">Like</button>
      </div>
    </div>
    <!-- post -->
    <div class="main-posts">
      <!-- box 1 -->
      <div class="post-box">
        <img src="/static/img/post_1.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
  
      <!-- box 2 -->
      <div class="post-box">
        <img src="/static/img/post_10.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
  
      <!-- box 3 -->
      <div class="post-box">
        <img src="/static/img/post_11.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
  
      <!-- box 4 -->
      <div class="post-box">
        <img src="/static/img/post_13.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
      <!-- box 4 -->
      <div class="post-box">
        <img src="/static/img/post_14.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
      <!-- box 5 -->
      <div class="post-box">
        <img src="/static/img/post_15.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
      <!-- box 6 -->
      <div class="post-box">
        <img src="/static/img/post_16.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
  
      <!-- box 7 -->
      <div class="post-box">
        <img src="/static/img/post_17.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
  
      <!-- box 8 -->
      <div class="post-box">
        <img src="/static/img/post_18.png" alt="" />
  
        <div class="post-info">
          <div class="post-profile">
            <div class="post-img">
              <img src="/static/img/mymymy.png" alt="" />
            </div>
            <h3>Luffy</h3>
          </div>
          <!-- like, bookmark -->
          <div class="likes">
            <i class="ri-heart-3-fill"></i>
            <!-- <span>49.4k</span> -->
            <i class="ri-bookmark-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- footer -->
  <footer class="footer"></footer>

  <!-- JS -->
  <script src="/static/js/api.js"></script>
  <script src="/static/js/loader.js"></script>
  <script src="/static/js/feed.js"></script>
</body>
</html>

</html>
