<!-- 상대방 피드  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/ty_css/follow_main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header_logo">
        <a href="#">
          <h1>I.O.T.D</h1>
          <p>I.M.R.M</p>
        </a>
      </div>
      <div class="header__gnb">
        <ul>
          <li class="user"><a href="#">LOGOUT</a></li>
          <li class="user"><a href="#">HOME</a></li>
        </ul>
      </div>
    </header>

    <!-- main post -->
    <div class="feed">
      <h1>Follower Feed</h1>
      <!-- <div class="feed-text">
        <h2>Latest</h2>
        <span>Popular</span>
      </div> -->
    </div>
    <!-- post -->
    <div class="main-posts"></div>
    <!-- box 1 -->
    <div class="post-box">
      <img src="/img/post_1.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>

    <!-- box 2 -->
    <div class="post-box">
      <img src="/img/post_10.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>

    <!-- box 3 -->
    <div class="post-box">
      <img src="/img/post_11.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>

    <!-- box 4 -->
    <div class="post-box">
      <img src="/img/post_13.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>
    <!-- box 4 -->
    <div class="post-box">
      <img src="/img/post_14.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>
    <!-- box 5 -->
    <div class="post-box">
      <img src="/img/post_15.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>
    <!-- box 6 -->
    <div class="post-box">
      <img src="/img/post_16.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>

    <!-- box 7 -->
    <div class="post-box">
      <img src="/img/post_17.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>

    <!-- box 8 -->
    <div class="post-box">
      <img src="/img/post_18.png" alt="" />

      <div class="post-info">
        <div class="post-profile">
          <div class="post-img">
            <img src="/img/mymymy.png" alt="" />
          </div>
          <h3>Luffy</h3>
        </div>
        <!-- like, bookmark -->
        <div class="likes">
          <i class="ri-heart-3-fill"></i>
          <!-- <span>49.4k</span> -->
          <i class="ri-bookmark-fill"></i>
        </div>
      </div>
    </div>
  </body>

  <!-- footer -->
  <footer class="footer">
    <div class="foottainer">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li>I.M.R.M</li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>back</h4>
          <ul>
            <li>백지현</li>
            <h5>한거요약</h5>
          </ul>
          <ul>
            <li>윤보영</li>
            <h5>한거요약</h5>
          </ul>
          <ul>
            <li>정엘리사</li>
            <h5>한거요약</h5>
          </ul>
          <ul>
            <li>임상빈</li>
            <h5>Machine Learning</h5>
          </ul>
        </div>
        <div class="footer-col">
          <h4>front</h4>
          <ul>
            <li>김태연</li>
            <h5>HTML & CSS & JS</h5>
          </ul>
          <ul>
            <li>윤보영</li>
            <h5>JS</h5>
          </ul>
          <ul>
            <li>백지현</li>
            <h5>JS</h5>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- JS -->
  <script>
    
  </script>
</body>
</html>

</html>
