<!-- 내 게시물 수정 -->
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 글 수정 페이지</title>
    <link rel="stylesheet" href="/static/css/write.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
  </head>
  <body>
    <!-- 헤더부분 -->
    <header class="header"></header>
    <!-- 게시판 머리 -->
    <div class="board_wrap">
      <div class="board_title">
        <strong>유저 글 수정 페이지</strong>
      </div>

      <!-- 글 나오는 부분 -->
      <div class="board_view_wrap">
        <div class="board_view">
          <input type="text" class="title" id="title" placeholder="제목을 입력해주세요">
          <div class="info">
            <select class="Categories">
              <option value="">의류</option>
              <option value="">가방</option>
              <option value="">신발</option>
              <option value="">장신구</option>
              <option value="">기타</option>
              <option value="">직접입력</option>
            </select>
          </div>
          <textarea class="cont" id="content" placeholder="내용을 입력해주세요" rows="20"></textarea>
          
        </div>
        <input type="file" id="image">
      </div>

      <!-- 등록버튼 -->
      <div class="bt_wrap" id="writebtn">
        <a onclick="createArticle()" class="left" id="createbutton">작성</a>
        <!-- <a href="#" class="right">삭제</a> -->
        <!-- <a href="#" class="left">수정</a> -->
      </div>
    </div>
    <footer class="footer"></footer>
    <!-- JS -->
    <script src="/static/js/api.js"></script>
    <script src="/static/js/loader.js"></script>
    <script src="/static/js/write.js"></script>
  </body>
</html>
